# node modules
node_modules/

# build output
dist/

# Vite cache
.vite/

# local env files
.env
.env.*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: ignoring coverage if você usar testes
coverage/
